@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 48 33% 97%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 36 90% 55%;
    --primary-foreground: 60 9% 98%;
    --secondary: 60 5% 96%;
    --secondary-foreground: 24 10% 12%;
    --muted: 60 5% 96%;
    --muted-foreground: 25 5% 45%;
    --accent: 60 5% 96%;
    --accent-foreground: 24 10% 12%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9% 98%;
    --border: 20 6% 90%;
    --input: 20 6% 90%;
    --ring: 36 90% 55%;
    --chart-1: 36 90% 55%;
    --chart-2: 168 83% 53%;
    --chart-3: 300 83% 53%;
    --chart-4: 221 83% 53%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 20 14% 4%;
    --sidebar-foreground: 60 9% 98%;
    --sidebar-primary: 60 9% 98%;
    --sidebar-primary-foreground: 24 10% 12%;
    --sidebar-accent: 12 6% 15%;
    --sidebar-accent-foreground: 60 9% 98%;
    --sidebar-border: 12 6% 15%;
    --sidebar-ring: 24 10% 12%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 24 10% 12%;
    --card-foreground: 60 9% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 36 90% 55%;
    --primary-foreground: 60 9% 98%;
    --secondary: 12 6% 15%;
    --secondary-foreground: 60 9% 98%;
    --muted: 12 6% 15%;
    --muted-foreground: 24 5% 64%;
    --accent: 12 6% 15%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 9% 98%;
    --border: 12 6% 15%;
    --input: 12 6% 15%;
    --ring: 36 90% 55%;
    --chart-1: 36 90% 55%;
    --chart-2: 168 83% 53%;
    --chart-3: 300 83% 53%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 20 14% 4%;
    --sidebar-foreground: 60 9% 98%;
    --sidebar-primary: 60 9% 98%;
    --sidebar-primary-foreground: 24 10% 12%;
    --sidebar-accent: 12 6% 15%;
    --sidebar-accent-foreground: 60 9% 98%;
    --sidebar-border: 12 6% 15%;
    --sidebar-ring: 24 10% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
